[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
yapf = "*"
pylint = "*"
rope = "*"
# See https://github.com/facebook/pyre-check/issues/187.
pyre-check = "==0.0.27"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
tqdm = "*"
jax = "*"
jaxlib = "*"
gym = "*"

[requires]
python_version = "3.7"
