[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
yapf = "*"
pylint = "*"
rope = "*"
pyre-check = "==0.0.33"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
tqdm = "*"
jax = {editable = true,path = "./../jax"}
jaxlib = "*"
gym = "*"
mujoco-py = "*"
taichi-nightly = "*"
opencv-python-headless = "*"
control = "*"
# See https://github.com/python-control/Slycot/issues/95. Install via `pipenv shell` instead.
# slycot = "*"
qrcode = "*"
requests = "*"

[requires]
python_version = "3.7"
