[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
pyre-check = "*"
rope = "*"
yapf = "*"

[packages]
control = "*"
gym = "*"
matplotlib = "*"
mujoco-py = "*"
numpy = "*"
qrcode = "*"
requests = "*"
scipy = "*"
tqdm = "*"

# JAX and its related libraries
# jax = {editable = true,path = "./../jax"}
jax = "*"
jaxlib = "*"

# See https://github.com/python-control/Slycot/issues/95. Install via `pipenv shell` instead.
# slycot = "*"

[requires]
python_version = "3.7"
